<div class="container"
    fxLayout="row wrap"
    fxLayout.sm="column"
    fxLayout.xs="column"
    fxLayoutAlign.gt-md="space-around center"
    fxLayoutGap="10px" 
    fxLayoutGap.xs="0">

  <div fxFlex="40">
    <div fxFlex *ngIf="dish" >
      <mat-card>
        <mat-card-header>
          <mat-card-title>
            <h3 *ngIf="dish">{{dish.name | uppercase}}</h3>
          </mat-card-title>
        </mat-card-header>
        <img mat-card-image src="{{ BaseURL + dish.image }}" alt={{dish.name}}>
        <mat-card-content>
          <p>{{dish.description}}
          </p>
        </mat-card-content>
        <mat-card-actions>
          <button mat-button [routerLink]="['/dishdetail', prev]"><span class="fa fa-chevron-left fa-lg"></span></button>

          <button mat-button (click)="goBack()">BACK</button>
          <button mat-button>LIKE</button>
          <button mat-button>SHARE</button>

          <span class="flex-spacer"></span>
          <button mat-button [routerLink]="['/dishdetail', next]"><span class="fa fa-chevron-right fa-lg"></span></button>
  
        </mat-card-actions>
      </mat-card>
    </div>
  </div>
  <div fxFlex [hidden]="dish">
    <mat-spinner></mat-spinner><h4>Loading . . . Please Wait</h4>
  </div>


  <div fxFlex="40">
<div class="container"
     fxLayout="column"
     fxLayoutGap="10px">

     <mat-grid-tile-header>
      <h1>Comments</h1>
    </mat-grid-tile-header>
    <mat-card>
    <div fxFlex *ngIf="selectedComment">
      
        
            <h4>{{selectedComment.comment}} </h4>
            <h4>{{selectedComment.rating}} Stars</h4>
            <h4>{{selectedComment.date | date}} </h4>
          
    </div>
  </mat-card>
  <mat-card>
    <div fxFlex *ngIf="selectedComment1">
      
        
      <h4>{{selectedComment1.comment}} </h4>
      <h4>{{selectedComment1.rating}} Stars</h4>
      <h4>{{selectedComment1.date | date}} </h4>
    
</div>
</mat-card>
<mat-card>
<div fxFlex *ngIf="selectedComment2">
      
        
  <h4>{{selectedComment2.comment}} </h4>
  <h4>{{selectedComment2.rating}} Stars</h4>
  <h4>{{selectedComment2.date | date}} </h4>

</div>
</mat-card>
<mat-card>
<div fxFlex *ngIf="selectedComment3">
      
        
  <h4>{{selectedComment3.comment}} </h4>
  <h4>{{selectedComment3.rating}} Stars</h4>
  <h4>{{selectedComment3.date | date}} </h4>

</div>
</mat-card>
<mat-card>
<div fxFlex *ngIf="selectedComment4">
      
        
  <h4>{{selectedComment4.comment}} </h4>
  <h4>{{selectedComment4.rating}} Stars</h4>
  <h4>{{selectedComment4.date | date}} </h4>

</div>
</mat-card>

</div>
        
          <mat-card *ngIf="commentForm.valid">

            <h4><p matLine>{{commentForm.value.comment}}</p></h4>
              <h4><p matLine>{{commentForm.value.rating}} Stars</p></h4>
              <h4><p matLine>-- {{commentForm.value.author}} </p></h4>

          </mat-card>

      <form novalidate [formGroup]="commentForm"  #fform="ngForm"  (ngSubmit)="onSubmit()">
          <p>
            <mat-form-field class="half-width">
              <input matInput formControlName="author" placeholder="Name" type="text" required>
              <mat-error *ngIf="formErrors.author">{{formErrors.author}}</mat-error>
            </mat-form-field>
          </p>
           <p>
            <mat-slider formcontrolname="slideval" thumblabel="" tickinterval="1" min="0" max="5" step="1" value="1"></mat-slider>

          </p>

          <p>
            <mat-form-field class="half-width">
              <textarea matInput formControlName="comment" placeholder="Comment" type="text" rows="10" cols="40" required></textarea>
              <mat-error *ngIf="formErrors.comment">{{formErrors.comment}}</mat-error>
            </mat-form-field>
          </p>
          <button type="submit" mat-button class="background-primary text-floral-white" [disabled]="commentForm.invalid">Submit</button>
        </form>

      <div [hidden]="dish|| errMess">
        <mat-spinner></mat-spinner><h4>Loading . . . Please Wait</h4>
      </div>
      <div *ngIf="errMess">
          <h2>Error</h2>
          <h4>{{errMess}}</h4>
      </div>

</div>
</div>